.footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Familjen Grotesk', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-top: 170px;
  padding: 0 40px 24px;
}

.footer__name {
  margin: 0;
}

.footer__year {
  margin: 0;
}